* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	text-rendering: optimizeLegibility;
}

html, body {
	height: 100%;
}

.hero-text-box {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/angry2.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.center {
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}


a {
	color: white;
	-webkit-text-stroke: 1px black;
}

a:hover {
	color: #00CD00;
}

a:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}